@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Підключаємо базові стилі
@include mat.core();

// Створюємо тему Material 3 (найпростіший варіант)
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette, // В M3 палітри мають інші назви, наприклад azure, violet, rose
    tertiary: mat.$magenta-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
  ),
  density: (
    scale: 0 // 0 — стандартний розмір, -1...-3 — компактніший
  )
));

// Застосовуємо тему
html {
  @include mat.all-component-themes($my-theme);
  
  // Якщо ти використовуєш Tailwind, важливо, щоб 
  // Material не перебивав твій фонову колір:
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}